* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/******************************************** Navbar start  ********************************************/

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url(Images/burger-menu-svgrepo-com.svg);
}

.offcanvas-header {
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 12px;
}

.icon {
    font-size: 20px;
    margin-left: 12px;
    margin-right: -20px;
}

.icon-2 {
    font-size: 20px;
    margin-left: 12px;
    margin-right: 8px;
}

.nav-link {
    font-size: 18px !important;
    color: #000;
}

.nav-link:hover {
    color: #000;
}

.nav-item {
    margin-bottom: 9px !important;
}

.main-events.col-8 {
    margin-top: 65px;
    color: #fff;
}

p.event {
    font-size: 25px;
    margin-bottom: 0px;
}

.event-subtitle {
    opacity: 0.8;
}

/******************************************** Navbar end ********************************************/
.Vision {
    color: #DE5824;
    /* margin-top: 25px;
    margin-left: 0px; */
    font-size: 20px;
}

.Vision-sub {
    color: #717171;
    font-size: 16px;
}

/******************************************** footer start  ********************************************/

.footer {
    background-color: #1c1c1c;
    padding: 15px 30px;
}

.footer-desc {
    color: silver;
    width: 300px;
}

.fa-brands {
    padding: 10px;
    font-size: 25px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
}

.fa-facebook-f {
    background-color: white;
}

.fa-instagram {
    background-color: white;
}

.fa-youtube {
    background-color: white;
}

.fa-whatsapp {
    background-color: white;
}

.fa-location-dot {
    background-color: white;
    padding: 10px;
    font-size: 25px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
}

.footer-quick {
    color: white;
    list-style-type: none;
    margin-top: 35px;
}

.footer-quick-1 {
    color: white;
    list-style-type: none;
    margin-top: 35px;
    margin-left: -35px;
}

.subtitle-footer {
    margin-bottom: 15px;
    width: 250px;
    color: silver;
}

.main-title {
    color: #de5824;
    font-size: 20px;
    margin-bottom: 12px;
}

hr {
    color: #212529;
    margin-top: 8px;
}

.footer-terms {
    color: white;
}

/******************************************** footer end  ********************************************/

@media (min-width: 320px) and (max-width: 480px) {
    .main-events {
        margin-top: 43px;
    }

    p.event {
        font-size: 23px;
    }

    .event-subtitle {
        font-size: 14px;
    }

    .offcanvas-header {
        margin-top: 5px;
    }

    .nav-item {
        margin-bottom: 0px !important;
    }

    .Vision {
        color: #DE5824;
        font-size: 26px;
    }

    .Vision-sub {
        color: #717171;
        font-size: 15px;
        margin-top: -10px;
    }

    /* footer  */

    .footer-desc {
        width: auto;
    }

    .subtitle-footer {
        width: auto;
    }

    .footer-quick-1 {
        color: white;
        list-style-type: none;
        margin-top: 35px;
    }

    .fa-brands {
        font-size: 25px;
        width: 42px;
        height: 40px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

    .fa-location-dot {
        background-color: white;
        display: flex;
        font-size: 25px;
        width: 42px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }

}

/******************************************** Tablet device start ********************************************/

@media (min-width: 481px) and (max-width: 768px) {
    .offcanvas-header {
        margin-top: 5px;
    }

    .nav-item {
        margin-bottom: 0px !important;
    }
}

/******************************************** Tablet device end ********************************************/


/******************************************** laptop device start ********************************************/

@media (min-width: 769px) and (max-width: 1024px) {
    .offcanvas-header {
        margin-top: 5px;
    }

    .nav-item {
        margin-bottom: 0px !important;
    }

    /* footer  */

    .footer-quick-1 {
        margin-left: 0px;
    }
}

/******************************************** laptop device end ********************************************/